footer {
  height: 485px;
  position: relative;
}

footer .bg-laranja {
  background-color: var(--laranja);
  clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 100%);
  width: 100%;
  height: 100%;
  position: absolute;
}

footer .bg-preto {
  background-color: var(--preto-fixo);
  clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
  width: 100%;
  height: 100%;
  position: absolute;
}


footer .wrap {
  position: relative;
  /* height: 100%; */
  top: 50%;
  padding: 0;
}


footer .wrap div:nth-child(1),
footer .nav,
footer .logo,
footer .icons {
  display: inline-block;
}

footer .wrap nav {
  float: left;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  width: 370px;
}

footer nav ul {
  text-align: center;
}

nav ul a:nth-child(1),
nav ul a:nth-child(2),
nav ul a:nth-child(3) {
  margin-right: 40px;
}

footer nav ul li {
  display: inline;
  color: var(--branco-fixo);
  transition: 0.5s;
}

footer nav ul li:hover {
  color: var(--laranja);
}

footer .logo {
  margin-left: 240px;
  margin-right: 360px;
}

footer .logo i {
  display: none;
}



footer .icons i {
  font-size: 25px;
  color: var(--branco-fixo);
  transition: 0.3s;
  cursor: pointer;
}

footer .icons i:hover {
  color: var(--laranja);
}

footer .icons i:nth-child(1),
footer .icons i:nth-child(2),
footer .icons i:nth-child(3),
footer .icons i:nth-child(4) {
  margin-right: 25px;
}

footer hr {
  border: 1px solid var(--cinza);
  margin-top: 90px;
  margin-bottom: 40px;
}

footer p {
  text-align: center;
  color: var(--branco-fixo);
  /* position: relative;
  top: 90%; */
}