@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');






:root {
  --preto-fixo: #222;
  --preto: #222;
  --text: #222;
  --text-secundary: #666;
  --laranja: #FF5E41;
  --verde: #0BAD73;
  --cinza: #ddd;
  --branco: #fff;
  --branco-fixo: #fff;
  --theme-switch: #f7f315;
}

[data-theme="dark"] {
  --preto-fixo: #111;
  --preto: #ddd;
  --text: #eee;
  --laranja: #FF8A65;
  --verde: #66BB6A;
  --cinza: #444;
  --branco: #222;
  --branco-fixo: #ddd;
  --theme-switch: #888;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* font-family: "Merriweather Sans", sans-serif; */
}

html {
  scroll-behavior: smooth;
  /* scrollbar-width: none; */
}

body {
  background-color: var(--branco);
}

.wrap {
  width: 1440px;
  margin: 0 auto;
  padding: 25px 0;
}

.btn {
  display: inline-block;
  color: var(--branco);
  padding: 0px 20px;
  text-decoration: none;
  transition: 0.5s;
  height: 50px;
  width: 195px;
  border-radius: 8px;
  text-align: center;
  margin: auto 0;
  font-weight: bold;
  line-height: 50px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  border: 1px solid var(--cinza);
}

.btn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}