header {
  background-color: var(--preto);
  border-bottom: 2px solid var(--branco);
}

.content {
  width: 1160px;
  height: 80px;
  margin: auto auto;
  padding: 25px 0;
}

.content div {
  float: left;
}

.content img {
  margin-top: -10px;
}

.content nav {
  float: right;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

nav ul {
  text-align: center;
}

nav ul a:nth-child(1),
nav ul a:nth-child(2),
nav ul a:nth-child(3) {
  margin-right: 80px;
}

nav ul li {
  display: inline;
  color: var(--branco);
  transition: 0.5s;
}

nav ul li:hover {
  color: var(--laranja);
}