#why {}

#why .wrap {}

#why h1 {
  margin-top: 102px;
  margin-left: 120px;
  font-size: 40px;
  font-weight: 900;
}

#why .card {
  height: 547px;
  width: 1220px;
  border: 1px solid var(--cinza);
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 88px;
  margin-bottom: 160px;
  text-align: center;
  position: relative;
}

#why .itens {
  position: absolute;
  width: 100%;
  height: 100%;
}

#why .row {
  width: 100%;
}

#why .row:nth-child(1) {
  width: 100%;
  margin-top: 9%;
  margin-bottom: 9%;
}

#why .item {
  display: inline-block;
}

#why .item:nth-child(odd) {
  margin-right: 18%;
}

#why .item:nth-child(even) {
  margin-left: 18%;
}

#why .item .text {
  display: inline-block;
  width: 245px;
  font-family: "Merriweather Sans", sans-serif;
  vertical-align: top;
}

#why .item .text:nth-child(odd) {
  text-align: right;
}

#why .item .text:nth-child(even) {
  text-align: left;
}

#why .item .text h4 {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 1.5px;
  font-weight: normal;
}

#why .item .text p {
  font-size: 14px;
  font-weight: 400;
}

#why i {
  font-size: 50px;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-color: var(--branco);
  border: 1px solid var(--cinza);
  line-height: 100px;
  transition: 0.5s;
}

#why i:hover {
  color: var(--branco);
  background-color: var(--laranja);
  border: 1px solid var(--preto);
}